
{% load static %}

<div class="header">
        
    <div class="logo_place">
        <img src="{% static 'images/logo.png' %}" alt="">
    </div>
    
    <div class="left_text_header">
        

        <div>
            <a class="header_login" href="{% url 'MainPageUrl' %}">Главная</a>
            <a class="header_login" href="{% url 'WellcomePageUrl' %}">Меню</a>
        </div>
    
    
        <div class="loginRegister">
            <a class="header_login" href="{% url 'LoginUrl'  %}">login</a>
            <a class="header_login"  href="{% url 'RegisterUrl'  %}">Register</a>
        </div>
    
    </div>
    </div>