

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}

    {% include 'users/links.html' %}

</head>
<body>
    
    <div class="main_component">
    
      <div class="form_div">
        <h1 class="">Войти в аккаунт</h1>

        <div id="danger_message" class="p-3 mb-2 bg-danger text-white">такого пользователя не существует,проверьте пароль </div>

          <div class="form_style">
            <label for="username_input">Username</label>
            <input type="text" class="InputForm" id='username_input' >
          </div>
          

          <div class="form_style">
            <label  for="password_input">Password</label>
            <input  type="password" class="InputForm" id='password_input' >
          </div>
          

          {% csrf_token %}
          
          <button onclick="AuthenticateUser()" class="button_submit">Войти</button>
          
        </div>
      </div>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

      <script>

          function AuthenticateUser(){

            let username_input = document.getElementById('username_input');
            let password_input = document.getElementById('password_input');


            const csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
            const config = {
            headers:{
                "X-CSRFTOKEN":csrftoken
            }
            };


 

            let form_data = new FormData();
            form_data.append('username',username_input.value)
            form_data.append('password',password_input.value)


            axios.post('{% url "LoginUrl" %}',form_data,config)

            .then(function (response) {

                username_input.innerHTML = ""
                password_input.innerHTML = ""
                
                console.log(response.data);

                isUserExist = response.data.charAt(0);


                if (isUserExist === "1"){
                    window.location.href = '{% url "MainPageUrl" %}'
                }else {
                    let danger_message = document.getElementById('danger_message');
                    danger_message.style.display="block"

                }



            
            })
            .catch(function (error) {
              console.log(error);
            });

    

        }





      </script>

</body>
</html>